<form 
  class="app-create-thread-form" 
  [formGroup]="createThreadForm"
  (ngSubmit)="onSubmit()"
>
  <div class="app-create-thread-form__config">
    <mat-form-field>
      <mat-label for="prefix">length</mat-label>
      <input 
        matInput 
        type="text" 
        name="length"
      />
    </mat-form-field>
    
    <mat-slide-toggle> Update thread on text change</mat-slide-toggle>
  </div>

  <mat-form-field>
    <mat-label for="text">Your text</mat-label>
    <textarea 
      matInput 
      cdkTextareaAutosize 
      name="text" 
      formControlName="text"
      (input)="onUpdate()"
    ></textarea>
  </mat-form-field>

  <mat-form-field>
    <mat-label for="prefix">prefix</mat-label>
    <input 
      matInput 
      type="text" 
      name="prefix" 
      formControlName="prefix"
      (input)="onUpdate()"
    />
  </mat-form-field>
  
  <mat-form-field>
    <mat-label for="postfix">Postfix</mat-label>
    <input 
      matInput type="text" 
      name="postfix" 
      formControlName="postfix"
      (input)="onUpdate()"
    />
  </mat-form-field>

  <button mat-flat-button type="submit" color="primary">
    Submit
  </button>
</form>