<form 
  class="app-create-thread-form" 
  [formGroup]="createThreadForm"
  (ngSubmit)="onFormSubmit()"
>
  <mat-form-field>
    <mat-label for="text">Your text</mat-label>
    <textarea 
      matInput 
      cdkTextareaAutosize 
      name="text" 
      formControlName="text"
      (input)="updateThread()"
    ></textarea>
  </mat-form-field>

  <mat-form-field>
    <mat-label for="prefix">prefix</mat-label>
    <input 
      matInput 
      type="text" 
      name="prefix" 
      formControlName="prefix"
      (input)="updateThread()"
    />
  </mat-form-field>
  
  <mat-form-field>
    <mat-label for="postfix">Postfix</mat-label>
    <input 
      matInput type="text" 
      name="postfix" 
      formControlName="postfix"
      (input)="updateThread()"
    />
  </mat-form-field>

  <button mat-flat-button type="submit" color="primary">
    Submit
  </button>
</form>