<form 
  class="app-create-thread-form" 
  [formGroup]="createThreadForm"
  (ngSubmit)="onFormSubmit()"
>
  <mat-form-field>
    <mat-label for="text">Your text</mat-label>
    <textarea matInput name="text" formControlName="text"></textarea>
  </mat-form-field>

  <mat-form-field>
    <mat-label for="prefix">Preffix</mat-label>
    <input matInput type="textarea" name="prefix" formControlName="prefix"/>
  </mat-form-field>
  
  <mat-form-field>
    <mat-label for="suffix">Suffix</mat-label>
    <input matInput type="textarea" name="suffix" formControlName="suffix"/>
  </mat-form-field>

  <button mat-flat-button type="submit" color="primary">
    Submit
  </button>
</form>